
#siteFooter {
  margin-top: 3em;

  & .footer-section {
    margin-bottom: 3em;
    text-align: center;
  }

  & .footer-section:last-child {
    margin-bottom: 0;
  }

  & .with-padding {
    padding-left: 6%;
    padding-right: 6%;
  }

  & .footer-background {
    border-top: 1px solid var(--color-slate-blue-darker);
    padding-top: 24px;
    padding-bottom: 36px;

    background-color: var(--color-slate-blue);
    color: var(--gray-light);

    & a {
      color: var(--gray-light);
    }
  }

  @media (min-width: 768px) {
    & {
      margin-top: 6em;
    }

    & .footer-contents {
      lost-utility: clearfix;
    }

    & .footer-section {
      lost-column: 1/3;
      margin-bottom: 0;
      text-align: left;

      &.text-center {
        text-align: center;
      }
    }

    & .with-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & header {
    & .decorate-text {
      width: 70px;
      fill: var(--color-teal);
    }

    & .names {
      font-size: 2em;
    }

    & .event-date {
      font-weight: 400;
      font-size: 1.25em;
    }
  }

  & h3 {
    margin-bottom: 6px;
  }

  & nav li {
    margin-top: 4px;
    margin-bottom: 4px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & ul {
    margin: 0;
  }
}
