
.shutter-out-horizontal {
  position: relative;
  transition-property: color;
  transition-duration: .25s;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      transform: scaleX(1);
    }
  }
}

.sweep-to-bottom {
  position: relative;
  transition-property: color;
  transition-duration: .25s;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    &:before {
      transform: scaleY(1);
    }
  }

  &.active {
    &,
    &:hover,
    &:focus,
    &:active {
      &:before {
        transform: none;
      }
    }
  }
}

#topNav {
  & .nav-link {
    margin-left: 8px;
    margin-right: 8px;

    color: var(--color-text);

    &:before {
      background-color: var(--color-teal);
    }

    &:hover,
    &:focus,
    &:active {
      font-weight: 400;
      text-decoration: underline;
      color: var(--gray-light);
    }

    &.active {
      &,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--color-teal);
        color: var(--gray-light);
        text-decoration: none;
        margin-left: 7px;
        margin-right: 7px;
        font-weight: 400;
      }
    }
  }
}
