
.lead,
.text-large {
  font-size: 1.25em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lead {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
  line-height: 1.25em;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
}

.list-inline > * {
  display: inline-block;
}

#contents {
  font-size: 1.1em;
  line-height: 1.5em;

  &.articles > section {
    padding-top: 2em;
  }

  & h3 {
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
  }

  & h4 {
    font-size: 1.25em;
    text-transform: uppercase;
  }

  & .back-to-top {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;

    & a {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: .8em;
    }
  }

  @media (min-width: 992px) {
    & {
      line-height: 1.5;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid var(--gray-light);
  margin-top: 1em;
  margin-bottom: 1em;
  width: 95%;

  &.accent {
    border-color: var(--color-pink);
    border-width: 2px;
  }

  @media (min-width: 768px) {
    & {
      margin-top: 3em;
      margin-bottom: 2em;
    }
  }
}
