
.lead,
.text-large {
  font-size: 1.25em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 700;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.lead {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
  line-height: 1.25em;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
}

.list-inline > * {
  display: inline-block;
}

.panel {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 8px 16px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2em;

  &.bg-dark {
    background-color: var(--color-slate-blue);
    border: 1px solid var(--color-slate-blue-darker);
    border-radius: 4px;
    color: var(--gray-light);
  }
}

#contents {
  font-size: 1.25rem;
  line-height: 1.5em;

  & .text-large {
    font-size: 1.4rem;
    line-height: 1.6em;

    @media (min-width: 576px) {
      & {
        font-size: 1.5rem;
        line-height: 1.75em;
      }
    }
  }

  & .text-xlarge {
    font-size: 1.75rem;
    line-height: 1.25em;

    @media (min-width: 576px) {
      & {
        font-size: 2.5rem;
      }
    }
  }

  & p {
    margin-top: 1em;
    margin-bottom: 1em;

    &:first-child {
      margin-top: 1em;
    }

    &:last-child {
      margin-bottom: 1em;
    }
  }

  &.articles > section {
    padding-top: 2em;
  }

  & h3 {
    font-size: 1.75rem;
    line-height: 1.25em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 0;

    @media (min-width: 576px) {
      & {
        font-size: 2.5rem;
      }
    }
  }

  & h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  & .back-to-top {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;

    & a {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid var(--gray-light);
  margin-top: 1em;
  margin-bottom: 1em;
  width: 95%;

  &.accent {
    border-color: var(--color-pink);
    border-width: 2px;
  }

  @media (min-width: 768px) {
    & {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
}

blockquote {
  margin-left: 0;

  & p {
    line-height: 1.25em;
  }
}

.inline-map {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid var(--gray-light);

  padding: 8px;
  background-color: #fff;
  border: 1px solid var(--gray-light);
  box-shadow: 0 0 6px 2px var(--gray-normal);
  line-height: 1em;

  width: 270px;
  height: 320px;

  @media (min-width: 768px) {
    & {
      width: 600px;
      height: 450px;
    }
  }
}

.registry-link {
  display: block;
  padding: 22px 16px;
  border: 1px solid var(--color-pink-darker);
  border-radius: 4px;
  text-align: center;
  width: 155px;
  margin-left: auto;
  margin-right: auto;

  & img {
    width: 100px;
    display: block;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

  &:before {
    background-color: var(--color-pink);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text);
  }
}

.snapshot {
  padding: 8px;
  background-color: #fff;
  border: 1px solid var(--gray-light);
  box-shadow: 0 0 6px 2px var(--gray-normal);
  line-height: 1em;
  margin-top: 0;
  width: calc(100% - 16px);

  &.pull-right,
  &.pull-left {
    float: none;
  }

  & > img {
    width: 100%;
  }

  @media (min-width: 768px) {
    & {
      width: 40%;
      margin-top: 1em;
    }

    &.bigger {
      width: 60%;
    }

    &.pull-right {
      float: right;
      margin-left: 1em;
    }

    &.rotate,
    &.pull-right.rotate {
      transform: rotate(3deg);
    }

    &.pull-left {
      float: left;
      margin-right: 1em;
    }

    &.pull-left.rotate {
      transform: rotate(-3deg);
    }

    &.text-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.icon-sm {
  width: 100px;
}
