
.lead,
.text-large {
  font-size: 1.25em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 700;
}

.lead {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
  line-height: 1.25em;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
}

.list-inline > * {
  display: inline-block;
}

#contents {
  font-size: 1.1em;
  line-height: 1.5em;

  &.articles > section {
    padding-top: 2em;
  }

  & h3 {
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
  }

  & h4 {
    font-size: 1.25em;
    text-transform: uppercase;
  }

  & .back-to-top {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;

    & a {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: .8em;
    }
  }

  @media (min-width: 992px) {
    & {
      line-height: 1.5;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid var(--gray-light);
  margin-top: 1em;
  margin-bottom: 1em;
  width: 95%;

  &.accent {
    border-color: var(--color-pink);
    border-width: 2px;
  }

  @media (min-width: 768px) {
    & {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
}

blockquote {
  margin-left: 0;
}

.inline-map {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid var(--gray-light);
  width: 270px;
  height: 320px;

  @media (min-width: 768px) {
    & {
      width: 600px;
      height: 450px;
    }
  }
}

.registry-link {
  display: block;
  padding: 22px 16px;
  border: 1px solid var(--color-pink-darker);
  border-radius: 4px;
  text-align: center;
  width: 155px;
  margin-left: auto;
  margin-right: auto;

  & img {
    width: 100px;
    display: block;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }

  &:before {
    background-color: var(--color-pink);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-text);
  }
}
