
@import 'layout/utils.css';
@import 'layout/navbar.css';
@import 'layout/topNav.css';
@import 'layout/site-heading.css';
@import 'layout/page-heading.css';
@import 'layout/siteFooter.css';

#siteHeader {
  margin-bottom: 2em;

  @media (min-width: 768px) {
    & {
      magin-bottom: 3em;
    }
  }
}

#contents {
  margin-top: 1em;

  @media (min-width: 768px) {
    & {
      margin-top: 3em;
    }
  }
}
